[submodule "dpdk"]
	path = dpdk
	url = https://bitbucket.eng.netapp.com/scm/kv-store-bb/dpdk.git
[submodule "intel-ipsec-mb"]
	path = intel-ipsec-mb
	url = https://bitbucket.eng.netapp.com/scm/kv-store-bb/intel-ipsec-mb.git
[submodule "isa-l"]
	path = isa-l
	url = https://bitbucket.eng.netapp.com/scm/kv-store-bb/isa-l.git
[submodule "ocf"]
	path = ocf
	url = https://bitbucket.eng.netapp.com/scm/kv-store-bb/ocf.git
[submodule "libvfio-user"]
	path = libvfio-user
	url = https://bitbucket.eng.netapp.com/scm/kv-store-bb/libvfio-user.git
[submodule "rocksdb"]
	path = rocksdb
	url = https://bitbucket.eng.netapp.com/scm/kv-store-bb/rocksdb.git
